#buscar{
	width: 400%;
}
.navbar-default .navbar-brand {
	color: #B5B5B5;
}
.navbar-default{
	background-color: $blanco;
	color: $colorletras;
}
.dropdown-toggle{
	font-weight: bold;	
}
.navbar-brand{
	color: $colorletras;
	font-size: 16px;
	font-weight: bold;
	i{
		color: $pinterest;
		font-size: 20px;
		padding-right: 10px;
	}
}
.navbar-right{
	li{
		a{
			color: $colorletras;
			font-size: 12px;
			font-weight: bold;
			i{
				color: $coloriconos;
				font-size: 20px;
			}
		}
	}
}

.modal-header{
	border: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
	.headermodal{
		i{
			color: $coloriconos;
			font-size: 20px;
			padding-right: 20px;
			font-weight: normal;
		}
		.btn-primary{
			i{
				color: $blanco;
				padding-right: 5px;
			}
			background-color: $colorboton;
			border: none;
			margin-left: 350px;
		}
	}
}
.modal-title{
	font-weight: bold;
}
.modal-footer{
	border: none;
	margin-top: 0px;
	padding-top: 0px;
	.headermodal{
		i{
			color: $coloriconos;
			font-size: 20px;
			padding-right: 20px;
			font-weight: normal;
		}
		.btn-primary{
			i{
				color: $blanco;
				padding-right: 5px;
			}
			background-color: $colorboton;
			border: none;
			margin-left: 350px;
		}
	}
	.segundo{
		i{
			color: $coloriconos;
			background-color: $blanco;
			font-size: 30px;
			padding-right: 10px;
		}
		button{
			/*margin-left: 280px;*/
			background-color: $coloriconos;
			color: $negro;
			position: absolute;
			right: 15px;
		}
	}
}
.circulo{
	border: 2px solid red;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/*Para tipo pinterest*/
#mostrar {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columnas {
	-webkit-column-count: 5;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 5;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 5;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	h4{
		font-weight: bold;
		padding-top: 5px;
	}
	.contder{
		padding-left: 2px;
		color: $coloriconos;
		font-size: 10px;
		position: absolute; 
		right: 15px;
		margin-bottom: 5px;
		i{
			color: $coloriconos;
			font-size: 10px;
			padding-right: 1px;
		}
	}
	p{
		i{
			color: #coloriconos;
			font-size: 20px;
			padding-right: 2px;
		}
	}
	display: inline-block;
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

@for $i from 1 through 11{
	.item#{$i}{
		background-image: url('../img/#{$i}.jpg'); 
		padding: 5px;
		-webkit-text-fill-color: $blanco;
  		-webkit-text-stroke-color: $negro;
  		-webkit-text-stroke-width: 0.5px;  
		font-weight: bold;
	}
}
